* {
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
    font-size: 62,5%;
}

:root{
    --charcoal: rgba(53, 53, 53, 1);
    --dark-blue: rgba(53, 53, 83, 0.9);
    --button: rgba(53, 53, 83, 1);
    --platinum: #F0F0F0;
    --text-color: rgba(17, 34, 51, 0.9);
	--green-blue-crayola: rgba(0, 141, 213, 1);
	--orange: rgba(228, 87, 46, 1);
	--rose: rgba(245, 100, 118, 1);
	--bg-color: rgba(226, 226, 226, 1);
}

h1{
	font-size: 2.2rem;
	font-weight: 700;
	line-height: 2.8rem;
	color: var(--text-color);
}

p{
	font-size: 1.2rem;
	font-weight: 100;
	line-height: 1.5rem;
	color: var(--text-color);
}

section{
	padding: 1.5rem 10vw 0 10vw;
	min-height: 80vh;
	border-bottom: 0.5rem solid var(--bg-color);
}

article{
	margin: 1.5rem;
}

/* Navigation */
.navbar {
	position: fixed;
	width: 100%;
	font-size: 1.2rem;
	overflow: hidden;
	background-color: var(--dark-blue);
}

.navbar .float-right {
	float: right;
}

.navbar li {
	list-style-type: none;
	margin: 1.4rem 0.7rem;
	float: left;
	transition-duration: 100ms;
}

.navbar li a {
	padding: 0.7rem;
	text-decoration: none;
	color: var(--platinum);
	font-weight: 400;
}

.navbar button{
	padding: 0.3rem;
	text-align: center;
	text-decoration: none;
	background-color: var(--bg-color);
	border-radius: 0.1em;
	position: relative;
	overflow: hidden;
}

.navbar	button:hover{
	transition-duration: 200ms;
}

.dot{
	padding-top: 3px;
	position: relative;
	left: calc(50% - 3px);
	pointer-events: none
}

.dot::after{
	content: "";
	width: 6px;
	height: 6px;
	background-color: var(--bg-color);
	box-shadow: 1px 1px 10px var(--platinum);
	position: absolute;
	border-radius: 50%;
	transition-duration: 100ms;
	opacity: 0;
}

.navbar li:not(:last-child):hover{
	transform: translateY(-0.3rem);
	transition-duration: 100ms;
}
.navbar li:hover > .dot::after{
	opacity: 1;
	transition-duration: 200ms;
}


/* Sections */
/* Banner */
.section--banner {
	background: linear-gradient(30.11deg, var(--orange), var(--rose), var(--green-blue-crayola), var(--platinum));
	background-size: 350% 350%;
	animation: gradient 19.88s ease infinite;
}

.main-logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Article with logo */
.section--article{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}


.article-img img{
	object-fit: contain;
	width: 500px;
	height: 500px;
	border-radius: 50%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Accasability */
a:focus-visible, img:focus-visible, p:focus-visible, input:focus-visible, select:focus-visible, button:focus-visible, h2:focus-visible, textarea:focus-visible{
    border: 3px solid white;
}

/* Responsive */
@media only screen and (max-width: 600px) {
	.main-logo img {
		width: 90%;
	}
}