* {
	font-size: 62.5%;
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	background-color: #000000;
}

body {
	background: linear-gradient(30.11deg, #ee7753, #e73c7f, #23a6d5, #23d5ac);
	background-size: 350% 350%;
	animation: gradient 19.88s ease infinite;
	height: 100vh;
}

/* Navigation */
.navbar{
    background-color: var(--text-color);
    width: 100%;
    position: fixed;
    overflow: hidden;
}

.navbar__item::before {
	transform: translateX(-50%);
	border-radius: 100%;
	position: absolute;
	background: blue;
	bottom: 10px;
	height: 8px;
	content: '';
	width: 8px;
	left: 50%;
	display: none;
  }

/* Main logo */
.main-logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Accasability */
a:focus-visible, img:focus-visible, p:focus-visible, input:focus-visible, select:focus-visible, button:focus-visible, h2:focus-visible, textarea:focus-visible{
    border: 3px solid rgba(255, 255, 0, 0.9);
}

/* Responsive */
@media only screen and (max-width: 600px) {
	.main-logo img {
		width: 90%;
	}
}